body {
  font-family: Arial;
  padding: 20px;
  background-image: url(22.jpg);
}

/* Header/Blog Title */
.header {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background: #7CB9E8;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;

}

/* Right column */
.rightcolumn {
  float: right;
  width: 20%;
  padding: 5px;
}

/* Fake image */
.img1 {
  
  width: 100%;
  padding: 5px;
}

/* Add a card effect for articles */
.card {
  background-color: cyan;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background:  #4d4d83;
  text-align: center;

}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #7CB9E8;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}